.cordefundo{
  background-color: #ffffff;
  text-align: center;
}
.header{
  background-color: #be2d09cb;
  text-align: center;
  font-weight: bold;

}
p{
  font-weight: bold;
}
select{
  background-color: aqua;
}
